<footer>
      <div class="footer">
          <div class="left">
              <h2>Made</h2>
              <ul>
                  <li>
                      <a href="">Instagram</a>
                  </li>

                  <li>
                      <a href="">Twitter</a>
                  </li>

                  <li>
                      <a href="">Contact</a>
                  </li>
              </ul>
          </div>
          <div class="middle">
              <h2>Pages</h2>
              <ul>
                  <li>
                      <a href="">Traveaux pratique</a>
                  </li>

                  <li>
                      <a href="">Releases</a>
                  </li>

                  <li>
                      <a href="">Upload</a>
                  </li>
              </ul>
          </div>
          <div class="right">
              <h2>Pages</h2>
              <ul>
                  <li>
                      <a href="">Connexion</a>
                  </li>

                  <li>
                      <a href="../view/pages/inscription.html">Inscription</a>
                  </li>

                  <li>
                      <a href="">Confidentialité</a>
                  </li>
              </ul>
          </div>
      </div>
  </footer>
