<footer>
    <div class="footer">
        <div class="text">
            <p>Made width 💜 by <strong><a href="https://webdev-mickael-ferri.000webhostapp.com/" target="BLANK_" >Micka</a></strong></p>
        </div>
    </div>
</footer>