<footer>
      <div class="footer">
          <div class="left">
              <h2>Made</h2>
              <ul>
                  <li>
                      <a href="https://www.instagram.com/madeprojets/?hl=fr" target="BLANK_">Instagram</a>
                  </li>

                  <li>
                      <a href="https://twitter.com/Made12712531" target="BLANK_">Twitter</a>
                  </li>

                  <li>
                      <a href="https://github.com/MickaelFerri25" target="BLANK_">Github</a>
                  </li>
              </ul>
          </div>
          <div class="middle">
              <h2>Pages</h2>
              <ul>
                  <li>
                      <a href="/categories">Traveaux pratique</a>
                  </li>

                  <li>
                      <a href="/releases">Releases</a>
                  </li>

                  <li>
                      <a href="/upload">Upload</a>
                  </li>
              </ul>
          </div>
          <div class="right">
              <h2>Pages</h2>
              <ul>
                 {% if user %}
                 <li>
                    <a href="/logout">Déconnexion</a>
                </li>
                {% else %}
                <li>
                    <a href="/connexion">Connexion</a>
                </li>
                <li>
                    <a href="/inscription">Inscription</a>
                </li>
                {% endif %}
                  <li>
                      <a href="/confidentialite">Confidentialité</a>
                  </li>
              </ul>
          </div>
      </div>
  </footer>
