<header>
    <nav class="desktop">
        <!-- conteneur -->      
        {% if user %}
        <div class="menu-deroulant translate" id="menu-deroulant">
            <!-- ul -->
            <ul class="liste-deroulante" id="liste-deroulante">
                <li>
                    <i class="fab fa-vuejs"></i>
                    <a href="/category/front-end">Front-End</a>
                </li>
                <li>
                    <i class="fab fa-php"></i>
                    <a href="/category/back-end">Back-End</a>
                </li>
                <li>
                    <i class="far fa-window-restore"></i>
                    <a href="/category/fullstack">Fullstack</a>
                </li>
            </ul>
        </div>
        {% else %}
          <div class="menu-deroulant" id="menu-deroulant">
            <!-- ul -->
            <ul class="liste-deroulante" id="liste-deroulante">
                <li>
                    <i class="fab fa-vuejs"></i>
                    <a href="/category/front-end">Front-End</a>
                </li>
                <li>
                    <i class="fab fa-php"></i>
                    <a href="/category/back-end">Back-End</a>
                </li>
                <li>
                    <i class="far fa-window-restore"></i>
                    <a href="/category/fullstack">Fullstack</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <ul class="menu-left">
            <li class="menu-logo">
                <a href="/" class="logo">Made</a>
            </li>
        </ul>
        <ul class="menu-right">
            <li>
                <a href="#" id="lien-tp">Travaux pratiques <i class="fas fa-chevron-down arrow"></i></a>
            </li>
            <li>
                <a href="/upload">Upload</a>
            </li>
            <li>
                <a href="/commentaires">Ajouts de fonctionnalités</a>
            </li>
            <li>
                <a href="/contact">Forum</a>
            </li>
            {% if user %}
                 <li>
                    <a href="/logout" class="cta-red">Déconnexion</a>
                </li>
                <li>
                    <a href="/logout" class="cta-white mon-compte">Mon compte</a>
                </li>
            {% else %}
            <li>
                <a href="/connexion">Connexion</a>
            </li>
            <li>
                <a href="/inscription" class="cta-red">Inscription</a>
            </li>
            {% endif %}
            <li>
                <i class="fas fa-bars bars" id="bars-bg"></i>
            </li>
        </ul>
    </nav>
    <nav class="mobile" id="block-bg">
        <i class="fas fa-times times croix" id="croix-bg"></i>
        <a href="/" class="menu-logo">Made</a>
        <ul>
            <li>
                <a href="#" id="lien-tp2">Travaux pratiques <i class="fas fa-chevron-down arrow"></i></a>
                <div class="liens" id="menu-mobil-deroualant">
                    <a href="/category/front-end">Front-End</a>
                    <a href="/category/back-end">Back-End</a>
                    <a href="/category/fullstack">Fullstack</a>
                </div>
            </li>

            <li>
                <a href="/releases">Releases</a>
            </li>

            <li>
                <a href="/upload">Upload</a>
            </li>

            <li>
                <a href="/commentaires">Ajouts de fonctionnalités</a>
            </li>

            <li>
                <a href="/confidentialite">Confidentialité</a>
            </li>

           {% if user %}
                 <li>
                    <a href="/logout">Déconnexion</a>
                </li>
            {% else %}
            <li>
                <a href="/connexion">Connexion</a>
            </li>
            <li>
                <a href="/inscription">Inscription</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <img src="../../assets/img/home/form.svg" class="form-header" alt="">
</header>
