// Modules

// Variables
@import "modules/var/varColor";
@import "modules/var/varAnimation";

// composants
@import "modules/header-desktop";
@import "modules/header-mobile";
@import "modules/cards";
@import "modules/buttons";
@import "modules/footer";

// Pages
@import "pages/home";
@import "pages/inscription";
@import "pages/connexion";
@import "pages/upload";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $bg;
}

.logo {
    color: $r!important;
    font-size: 18px;
    font-weight: 600;
}

.cta-red {
    @include button-red;
    color:$w!important;
}

.cta-red-2 {
    @include button-red-2;
    color:$w!important;
}

.cta-white {
    @include button-white;
    color:$r!important;
}

.cta-white-2 {
    @include button-white-2;
    color:$r!important;
}

.red {
    color: $r!important;
}

.black {
    color: $n!important;
}

.center {
    text-align: center;
}
