// Modules
// Variables
@import "modules/var/varColor";
@import "modules/var/varAnimation";
// composants
@import "modules/header-desktop";
@import "modules/header-mobile";
@import "modules/cards";
@import "modules/buttons";
@import "modules/footer";
@import "modules/pagination";
@import "modules/blocks";
// Pages
@import "pages/home";
@import "pages/inscription";
@import "pages/connexion";
@import "pages/upload";
@import "pages/commentaires";
@import "pages/confidentialite";
@import "pages/contact";
@import "pages/upload2";
@import "pages/regles";
@import "pages/releases";
@import "pages/projets";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $bg;
}

// .body {
//     background-color: $w;
//     min-height: 100vh;
// }

.logo {
    color: $blue!important;
    font-size: 18px;
    font-weight: 600;
}

.cta-red {
    @include button-red;
    color: $w !important;
}

.cta-red-2 {
    @include button-red-2;
    color: $w!important;
}

.cta-blue-2 {
    @include button-red-2;
    border: $blue2;
    background: $blue2!important;
}
.cta-white {
    @include button-white;
    color: $blue!important;
    background-color: rgba(208, 201, 255, 0.14);
}

.cta-white-2 {
    @include button-white;
    color: $blue!important;
}

.red {
    color: $blue!important;
}

.black {
    color: $n !important;
}

.center {
    text-align: center;
}
.m3 {
    margin-top: 3px;
}

.error {
    color: $r;
    margin-top: 5px;
}

.succes {
    transition: 0.4s ease-in-out;
    background-color: #d1fdd1;
    color: #27a327;
    padding: 8px 16px;
    margin-bottom: 10px;
    border-left: 6px solid #27a327;
    border-radius: 3px;
    transform: translateX(-60px);
    opacity: 0;
    i {
        margin-left: 24px;
    }
    .active-notif {
    transform: translateX(0);
    opacity: 1;
    }
}

.succes2 {
    transition: 0.4s ease-in-out;
    background-color: #d1fdd1;
    color: #27a327;
    padding: 8px 16px;
    border-left: 6px solid #27a327;
    border-radius: 3px;
    transform: translateX(-60px);
    opacity: 0;
    margin: 0 auto;
    width: 330px;
    margin-bottom: 16px;
    i {
        margin-left: 24px;
    }
    .active-notif {
        transform: translateX(0);
        opacity: 1;
    }
}
