.filtre {
    margin-left: 11%;
    button {
        cursor: pointer;
        outline: none;
        i {
            margin-left: 5px;
        }
    }
    ul {
        display: none;
        background-color: $w;
        width: 83px;
        padding: 4px 8px 8px 8px;
        border-radius: 2px;
        z-index: 1;
        li {
            margin-top: 5px;
            a {
                color: $n;
                transition: $tr;
                &:hover {
                    color: $r;
                }
            }
        }
    }
}

.cat {
    margin-left: 10%;
    margin-top: 24px;
    color: $blue;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        margin: 15px;
    }
    .card-categorie {
        background: $w;
        border-radius: 4px;
        box-shadow:$s;
        padding: 24px;
        width: 25%; 
        text-align: center;
        h2, p, a {
        margin-bottom: 8px;
        color: $blue!important;
        }
        p {
            margin-bottom: 24px;
        }
    }
}

.premium-none {
    opacity: 0.4;
    cursor: no-drop;
}

@media screen and (max-width:1000px) {
    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div {
            margin: 15px;
        }
        .card-categorie {
            background: $w;
            border-radius: 4px;
            box-shadow:$s;
            padding: 24px;
            width: 40%; 
            text-align: center;
            h2, p, a {
            margin-bottom: 8px;
            color: $blue!important;
            }
            p {
                margin-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .filtre {
        text-align: center;
        margin: 0 auto;
        ul {
            margin: 0 auto;
        }
    }
}
