header {
    .mobile {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 17rem;
        z-index: 1050;
        transform: translateX(-460px);
        background-color: $blue;
        transition: $tr;
        i.croix {
            position: absolute;
            top: 30px;
            color: $w;
            font-size: 22px;
            right: 30px;
        }
        .menu-logo {
            display: block;
            color: white;
            font-size: 22px;
            padding: 30px 32.5px;
         }
        ul {
            padding-top: 10vh;
            padding-left: 10px;
            a#lien-tp2 {
                .arrow {
                    transform: translateX(8px);
                }
            }
            .liens {
                display: flex;
                flex-direction: column;
                background-color: rgb(255, 255, 255);
                width: 250px;
                display: none;
                margin: 10px 10px;
                padding: 10px;
                border-radius: 3px;
                a {
                    margin: 5px 10px;    
                    font-size: 24px;
                    color: $r;
                }
            }  
            li {
                margin: 12.5px;
            }
            a {
                font-size: 20px;
                color: $w;
                margin: 10px;
            }
        }
      
    }
}
@media screen and (max-width:1000px) {
    .mobile {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 23rem;
        z-index: 10;
        background-color: $r;
        display: block;
    }
}
@media screen and (max-width:400px) {
    header {
        .mobile {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            background-color: $r;
            transition: 0.3s ease-in-out;
            i.croix {
                position: absolute;
                top: 25px;
                color: $w;
                font-size: 22px;
                right: 30px;
            }
            .menu-logo {
                display: block;
                color: white;
                font-size: 18px;
                padding: 20px 30px;
             }
            ul {
                padding-top: 11vh;
                padding-left: 10px;
                a#lien-tp2 {
                    .arrow {
                        transform: translateX(8px);
                    }
                }
                .liens {
                    display: flex;
                    flex-direction: column;
                    background-color: rgb(255, 255, 255);
                    width: 250px;
                    display: none;
                    margin: 10px 10px;
                    padding: 10px;
                    border-radius: 3px;
                    a {
                        margin: 5px 10px;    
                        font-size: 16px;
                        color: $r;
                    }
                }  
                li {
                    margin: 12.5px;
                }
                a {
                    font-size: 27px;
                    color: $w;
                    margin: 10px;
                }
            }
          
        }
    }
}

