.ajout-de-commentaire {
    text-align: center;
    margin-top: 40px;
    color: $n;
    h2 {
        margin-bottom: 35px;
    }
    form {    
        label {
            display: block;
            transform: translateX(-145px);
            margin-bottom: 10px;
        }
        textarea {
            width: 350px;
            height: 150px;
            border: none;
            background-color: rgb(233, 233, 236);
            outline: none;
            padding: 10px;
        }
        button {
            display: block;
            margin: 0 auto;
            padding: 9px 16px;
            cursor: pointer;
            margin-top: 10px;
            transform: translateX(-135px);
        }
    }
    @media screen and(max-width:320px) {
        h2 {
            font-size:20px;
        }
        form {    
                label {
                    display: block;
                    transform: translateX(0);
                    margin-bottom: 10px;
                }
                textarea {
                    width: 270px;
                    height: 150px;
                    border: none;
                    background-color: rgb(233, 233, 236);
                    outline: none;
                    padding: 10px;
                }
                button {
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                    margin-top: 10px;
                    transform: translateX(0px);
                }
        }
    }
}

.espace-commentaire {
    color: $n;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    h3.number-comments {
        margin-top: 40px;
        margin-bottom: 24px;
        position: relative;
        &:after {
            content:'';
            position: absolute;
            bottom: -10px;
            left:0;
            width:180px;
            height: 2px;
            background-color: rgb(233, 233, 233);
        }
    }
    .commentaire {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        .img {
            margin-right: 15px;
         }
        .text {
            color: $blue!important;
            p.time {
                margin-top: 3px;
                color: grey;
            }
            p {
                margin-bottom: 10px;
            }
            .block-comment {
                background-color: $g2;
                padding: 10px;
                padding-top: 22px;
                padding-left:10px;
                margin-right: 10%;
            }
            p.content-commentaire {
                color: $blue;
                word-break: break-all;
                word-break: break-word;
            }
           .buttons {
               padding-top: 24px;
               margin-bottom: 32px;
               a {
                    margin-right: 9px;
                }
               
               .delete {
                  transition: 0.2s ease-in-out;
                  float:right;
                  background-color: rgb(250, 226, 226);
                  border: 1px solid rgb(250, 226, 226);
                  color: $r!important;
                  margin-right: 10%;
                  padding: 10px 16px;
                  transform: translateY(-10px);
               }
           }
        }
        
        .comment-active {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            textarea {
              background-color: $g2;
              padding: 10px;
              padding-top: 15px;
              padding-left:15px;
              margin-right: 10%;
              height: 150px;
              border: none;
              border-radius:2px;
              outline: none;
              &::placeholder {
                  font-size: 15px;
              }
             }
             button {
                 padding: 10px 16px;
                 margin-top: 16px;
                 width: 100px;
                 margin-bottom: 8px;
             }
          }
    }
}

@media screen and (max-width: 500px) {
    .ajout-de-commentaire {
        h2 {
            font-size:20px;
        }
        form {    
                label {
                    display: block;
                    transform: translateX(0);
                    margin-bottom: 10px;
                }
                textarea {
                    width: 270px;
                    height: 150px;
                    border: none;
                    background-color: rgb(233, 233, 236);
                    outline: none;
                    padding: 10px;
                }
                button {
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                    margin-top: 10px;
                    transform: translateX(0px);
                }
        }
    }
   
    .espace-commentaire {
        .commentaire {
            .buttons {
                a {
                    margin-right: 30px!important;
                    display: block;
                    margin-bottom: 12px;
                    text-align: center;
                }
                .delete {
                   transition: 0.2s ease-in-out;
                   float: none!important;
                   background-color: rgb(250, 226, 226);
                   border: 1px solid rgb(250, 226, 226);
                   color: $r!important;
                   margin-right: 10%;
                   padding: 10px 16px;
                   display: block!important;
                  transform: translateY(0px)!important;
                }
            }
        }
    }
}