.container-contact {
    background: $w;
    display: flex;
    flex-direction: column;
    padding: 26px;
    width: 350px;
    border-radius: 4px;
    box-shadow: $s;
    margin: 30px auto;
    color: $n;
    @media screen and (max-width:500px) {
        justify-content: center;
        align-items: center;
        background: none;
        box-shadow: none;
    }
    h2, label {
        margin-bottom: 16px;
    }
    label {
        input, textarea {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            background-color: rgb(238, 238, 238);
            border: none;
            width: 290px;
            padding-left: 10px;
            outline: none;
            border-radius: 2px;
            @media screen and (max-width:650px) {
                width: 225px;
                background-color: $bg;
                border: 1px solid rgb(187, 187, 187);
            }
        }
        input {
            height: 31px;
        }
        textarea {
            padding-top: 10px;
        }
    }
    button {
        padding: 10px 10px;
        width: 90px;
        cursor: pointer;
        text-align:center;
    }
}