.infos-made {
    margin: 12% 32%;
    h2,h1 {
        color: $blue;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    h2 {
        font-weight: 400!important;
        margin-bottom:4px;
    }
    h1 {
        margin-bottom:24px;
    }
    a {
        color: $blue;
        font-size: 18px;
        font-weight: 600!important;
        @include button-blue-white;
        &:hover {
            @include button-blue;
        }
        i {
            padding-left: 8px;
            transform: translateY(1px);
        }
    }
}

.about-made {
    .about {
        display: flex;
        justify-content: center;
    }
    .text {
        background-color: $w;
        box-shadow: $s;
        width: 50%;
        height: 50%;
        border-radius: 4px;
        padding: 32px;
        margin-top: 12.2%;
        z-index:1000;
        transform: translateX(11.5%);
        h3,p, a {
            color: $blue;
            font-family: 'Montserrat', sans-serif;
        }
        a {      
            font-weight: 700;
        }
        h3 {
            font-size:18px;
            position: relative;
            font-weight: 700;
            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                background-color: $blue;
                height: 4px;
                width: 32px;
            }
        }
        p {
            font-weight: 500;
            margin: 24px 0 16px 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            line-height: 24px;
        }
        .invisible {
            display: none;
            p {
                margin: 24px 0 16px 0;
            }
            a {
                i {
                    margin-left: 4px;
                    transform: translateY(1px);
                }
            }
            .reseaux {
                display: flex;
                margin-bottom: 16px;
                a {
                    display: block;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        transform: translateY(-3.5px);
                    }
                }
                i {
                    font-size: 22px;
                    color: $blue;
                    margin-right: 10px;
                }
            }
        }
        .visible {
            display: block;
        }
        .rotate {
            transition: 0.3s ease-in-out;
            transform: rotate(-180deg);
        }
    }
}

.contact-made {
    .contact {
        display: flex;
        justify-content: center;
        .img {
            img {
                width: 403.7px;
                height: 722px;
            }
        }
        .text {
            z-index:1000;
            margin-top: 15%;
            background-color: $w;
            padding: 24px;
            box-shadow: $s;
            border-radius: 4px;
            height: 420px;
            transform: translateX(-85px);
            h1 {
                color: $blue;
                position: relative;
                font-size: 24px;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    background-color: $blue;
                    height: 4px;
                    width: 35px;
                }
            }
            form {
                margin-top: 24px;
                input, textarea {
                    background-color:$g2;
                    border-radius:2px;
                    border:none;
                    padding-left: 10px;
                    color: $blue;
                    outline-color: #cecece;
                    &::placeholder {
                        color: $g;
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                    }
                }
                input {
                    height: 36px;
                    width: 220px;
                }
                .pseudo {
                    margin-right: 15px;
                }
                textarea {
                    margin-top: 16px;
                    width: 100%;
                    padding-top: 10px;
                }
                button {
                    margin-top: 7px;
                    cursor: pointer;
                    padding: 10.5px 16px;
                }
            }
        }
    }
}

@media screen and (max-width:1000px){
    .infos-made {
        margin:12% 0;
        text-align:center;
        a {
            background: rgba(208, 201, 255, 0.14);
        }
    }
}

@media screen and (max-width:950px){
    .about {
        .text {
           width: 70%!important;
        }
    }
    .contact-made {
        .contact {
            display: flex;
            justify-content: center;
            .img {
                img {
                    width: 403.7px;
                    height: 722px;
                }
            }
            .text {
                height: 485px;
                form {
                    display: block;
                    input, textarea {
                            color: $g;
                            font-size: 14px;
                            width: 100%!important;
                            font-family: 'Poppins', sans-serif;
                    }
                    input {
                        height: 36px;
                        width: 220px;
                        margin-bottom: 16px;
                    }
                    .pseudo {
                        margin-right: 15px;
                        
                    }
                    textarea {
                        margin-top: 0px!important;
                        width: 100%;
                        padding-top: 10px;
                    }
                    button {
                        margin-top: 7px;
                        cursor: pointer;
                        padding: 10.5px 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:850px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text {
            transform: translateX(0%);
            margin-top: 0%;
        }
        .img {
            display: none;
        }
    }
    .contact-made {
        .contact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .img {
                img {
                    display: none;
                }
            }
            .text {
                z-index:1000;
                margin-top: 15%;
                background-color: $w;
                padding: 24px;
                box-shadow: $s;
                border-radius: 4px;
                height: 485px;
                transform: translateX(0);
                h1 {
                    color: $blue;
                    position: relative;
                    font-size: 24px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        background-color: $blue;
                        height: 4px;
                        width: 35px;
                    }
                }
                form {
                    margin-top: 24px;
                    input, textarea {
                        background-color:$g2;
                        border-radius:2px;
                        border:none;
                        padding-left: 10px;
                        color: $blue;
                        outline-color: #cecece;
                        &::placeholder {
                            color: $g;
                            font-size: 14px;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                    input {
                        height: 36px;
                        width: 220px;
                    }
                    .pseudo {
                        margin-right: 15px;
                        
                    }
                    textarea {
                        margin-top: 16px;
                        width: 100%;
                        padding-top: 10px;
                    }
                    button {
                        margin-top: 7px;
                        cursor: pointer;
                        padding: 10.5px 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:850px) {
    .about {
        .text {
            margin-top: 5%;
           width: 290px;
        }
    }
}