::selection {
    background-color: $r;
    color: $w;
}

.section1 {
        margin-top: 90px;
        h1 {
            display: none;
        }
    .tp {
        display: flex;
        justify-content: space-evenly;
        .etiquettes {
            margin-right: 80px;
            margin-top: 20px;
            color: $r;
            div {
                opacity: 0;
                transition: 0.4s ease-in-out;
                transform: translateX(-50px);
                display: flex;
                background: #FFFFFF;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                width: 337px;
                height: 50px;
                margin: 25px;
                padding: 15px 0 15px 15px;
                i {
                    border-radius: 90px;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    padding-top: 10px;
                    color: $r;
                    background-color: $bg;
                    transform: translateY(-6.5px);
                    margin-right: 15px;
                }
                a {
                    color: $r;
                }
            }
            .button {
                margin-left: 25px;
                display: block;
                width: 120px;
                text-align: center;
                padding:11px 15px;
                transition: 0.4s;
                transform: translateX(-50px);
                opacity: 0;
            }
        }
        .img {
            transition: 0.4s;
            opacity: 0;
            transform: translateX(40px);
        }
    }
}

.section2 {
    margin: 130px 0 90px 0;
    .card-about {
        display: flex;
        justify-content: space-evenly;
        background-color: $w;
        box-shadow: $s;
        height: auto;
        width: 850px;
        padding: 35px 30px 30px 30px;
        margin: 0 auto;
        border: 4px;
        opacity: 0;
        transform: translateX(-40px);
        transition: 0.4s ease-in-out;
        .text {
            padding-top: 22.5px;
            h2 {
                background-color: $bg;
                padding: 7px 15px;
                border-radius: 3px;
                font-size: 22px;
                width: 125px;
                color:$r;
                text-align: center;
                transform: translateY(-22.5px);
            }
            p {
                color: $n;
            }
            .p2 {
                margin-top: 20px;
                display: none;
            }
            a {
                cursor: pointer;
                color: $r;
                display: block;
                width: 100px;
                margin-top: 15px;
                transition: color 0.3s ease-in-out;
                i {
                    transition: transform 0.3s ease-in-out;
                    transform: rotate(0deg);
                    font-size: 17px;
                    transform: translate(5px,2px);
                }
            }
            .voir-plus {
                display:block;
            }
            .voir-plus-grey {
                color:$n;
                i {
                    margin-left:5px;
                    transform: rotate(180deg);
                }
            }
        }
        .img {
            padding-top: 12.5px;
            img {
                height: 190px;
                width: 190px;
                border-radius: 4px;
                padding-left: 5px;
            }
        }
    }
}
.section3 {
    .support {
        opacity: 0;
        transition: 0.4s ease-in-out;
        transform: translateX(-50px);
        display: flex;
        justify-content: space-evenly;
        .text {
            padding-top: 50px;
            color: $r;
            h1 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 25px;
            }
            a {
                @include button-red;
            }
        }
    }
}
footer {
    background-color: $r;
    padding: 50px;
    margin-top: 100px;
    .footer {
        display: flex;
        justify-content: space-evenly;
        color:$w;
        ul li {
            margin-top: 5px;
            a {
                color: $w;
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .section1 {
        position: static;
        transform: translate(0,0);
        h1 {
            display: block;
            text-align: center;
            opacity: 0;
            font-size: 22px;
            color: $r;
            margin-top: 50px;
            transform: translateX(-50px);
            transition: $tr;
        }
        .tp {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            .etiquettes {
                margin-right: 0px;
                .button {
                    margin: 0 auto;
                }
            }
        }
        .img {
            margin-top: 50px;
        }
    }   
   .section2 {
        .card-about {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            background-color: $w;
            box-shadow: $s;
            height: auto;
            width: auto;
            padding: 35px 30px 30px 30px;
            margin: 0 auto;
            border: 4px;
        }
    }
    .section3 {
        .support {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .text {
                padding-top: 50px;
                color: $r;
                h1 {
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 25px;
                }
                a {
                    @include button-red;
                }
            }
            .img {
                margin-top: 70px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .section1 {
        .tp {
            .etiquettes {
                margin-right: 0px;
                margin-top: 20px;
                color: $r;
                div {
                    opacity: 0;
                    transition: 0.4s ease-in-out;
                    transform: translateX(-50px);
                    display: flex;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    width: 307px;
                    height: 50px;
                    margin: 25px;
                    padding: 15px 0 15px 15px;
                }
            }
        }
        .img {
            img {
                height: 300px;
                width: 300px;
            }
        }
    }   
    .section2 {
        
    margin: 70px 0 90px 0;
        .card-about {
            display: flex;
            flex-direction:column;
            align-items: flex-start;
            background-color: $w;
            box-shadow: $s;
            height: auto;
            width: auto;
            padding: 35px 30px 30px 30px;
            margin: 0 auto;
            border: 4px;
            .text {
                p {
                    font-size: 13.8px;
                }
            }
        }
    }
    .section3 {
        .support {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align:center;
            .text {
                padding-top: 50px;
                color: $r;
                h1 {
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 25px;
                    font-size:15px;
                }
                a {
                    @include button-red;
                }
            }
            .img {
                margin-top: 70px;
                img {
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }
    footer {
        background-color: $r;
        padding:70px 40px 40px 40px;
        margin-top: 100px;
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color:$w;
            div {
                margin-bottom: 25px;
            }
            ul li {
                margin-top: 5px;
                a {
                    color: $w;
                }
            }
        }
    }
}
