.block-projet {
    display: flex;
    flex-direction: column;
    color: $blue;
    width: 60%;
    word-break: break-word;
    margin-top: 40px;
    margin-left: 12%;
    margin-bottom: 40px;
    h2 {
        font-size:22px;
    }
    .infos-profil {
        display: flex;
        margin-bottom: 8px;
        .text {
            margin-left: 12px;
            p {
                color: $g;
                font-weight: 400;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
    .presentation {
        h2 {
            margin-bottom: 4px;
        }
        p {
            margin-bottom: 16px;
        }
        img {
            height: auto;
            width: 400px;
        }
    }
    .regles, .liens {
        margin: 8px 0 8px 0;
    }
    .liens {
        ul {
            margin-bottom: 24px;
            li {
                margin-bottom: 4px;
                a {
                    color: $blue;
                    font-weight:400;
                }
            }
        }
        .buttons {
                .delete {
                    transition: 0.2s ease-in-out;
                    margin-left: 8px;
                    background-color: rgb(253, 217, 217);
                    border: 1px solid rgb(250, 226, 226);
                    color: $r!important;
                    padding: 10px 16px;
                 }
        }
    }
    @media screen and (max-width:600px){
        justify-content: center;
        
        .presentation {
            h2 {
                margin-bottom: 4px;
            }
            p {
                margin-bottom: 16px;
            }
            img {
                height: auto;
                width: 300px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            text-align: center;
            .delete {
                margin-left: 0!important;
                margin-top: 12px;
            }
        }
    }
}