.form-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $w;
    box-shadow: $s;
    padding: 24px;
    margin: 40px auto;
    width: 900px;
    label {
        input, select, textarea {
            display: block;
            border: solid 1px $g;
            outline-color: $g;
            margin-bottom: 16px;
        }
        input, textarea {
            padding-left: 10px;
        }
        input {
            height: 33px;
            position: relative;
        }
        select {
            background-color:$w!important;
            @media screen and (max-width:950px) {
                background-color:#F2F1F9!important;
            }
        }
        textarea {
            padding-top: 10px;
            width: 100%;
            height: 150px;
        }
    }
    .name-project {
        label {
            input {
                width: 450px;
            }
        }
    }
    .line {
        display: flex;
        div {
            margin-right: 16px;
        }
        select {
            height: 33px;
            background-color: $g2;
            border: 1px solid grey;
        }
        .flex {
            display: flex;
        }
    }
    .link-figma, .link-codesandbox, .link-github {
        label {
            input {
                width: 100%;
            }
        }
    }
    
    .img-project {
        label {
            input {
                padding-top: 12px;
                border:2px dashed rgb(161, 161, 161);
                height: 50px;
                width: 100%;
            }
        }
    }
    .envoie {
        display: flex;
        justify-content: space-between;
        button {
            width: 100px;
            text-align: center;
            padding: 10px;
            cursor: pointer;
        }
        a {
            color: $blue;
            transform: translateY(10px);
            i {
                font-size: 17px;
                color: $blue;
                margin-right: 4px;
                transform: translateY(1px);
            }
        }
    }
    @media screen and (max-width:950px){
        background: none;
        box-shadow: none;
        width: auto;
        @media screen and (max-width:550px) {
           margin-top: 20px;
        }
        input, select, textarea {
            background-color: $bg!important;
            @media screen and (max-width:950px) {
                background-color:#F2F1F9!important;
            }
        }
        
        .name-project {
        label {
            input {
                width: 100%;
            }
        }
        }
        .line {
            display:flex;
            flex-direction:column;
            .flex {
                display:flex;
                @media screen and (max-width:450px) {
                   flex-direction:column;
                }
            }
        }
    }
}

