<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Made - La platforme en ligne de TP pour apprendre le développement Web</title>
    <link rel="shortcut icon" href="/assets/img/logomade.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="https://kit.fontawesome.com/bedd7b9608.js" crossorigin="anonymous" defer></script>
    <script src="/assets/js/modules/header.js" defer></script>
    <script src="/assets/js/modules/animations.js" defer></script>

    {% block head %} {% endblock %}
</head>

<body>

    {% block body %} {% endblock %}
</body>

</html>
