{%extends "../layouts/global.njk"%}
{%block body %}
{%include "../components/header.njk" %}
<section class="ressource-apprentisage">
        <h2>RESSOURCES POUR APPRENDRE LE CODE</h2>
        <div class="categories-ressources">
            <button>HTML / CSS</button>
            <div class="french">
                <h3>French <img width="25" height="25" src="../../assets/img/drapeaux/france.png" alt=""></h3>
                <div class="grafikart">
                    <p>Grafikart :<a href="https://www.grafikart.fr/formations" target="BLANK_">https://www.grafikart.fr/formations</a></p>
                </div>
            </div>
            <div class="english">
                <h3>English <img width="25" height="25" src="../../assets/img/drapeaux/angleterre.png" alt=""></h3>
                <div class="frontendmaster">
                    <p>FrontEndMaster :<a href="https://frontendmasters.com/bootcamp/" target="BLANK_">https://frontendmasters.com/bootcamp/</a></p>
                </div>
            </div>
        </div>
        <div class="categories-ressources">
            <button>JAVASCRIPT</button>
            <div class="french">
                <h3>French <img width="25" height="25" src="../../assets/img/drapeaux/france.png" alt=""></h3>
                <div class="grafikart">
                    <p>Grafikart :<a href="https://www.grafikart.fr/formations" target="BLANK_">https://www.grafikart.fr/formations</a></p>
                </div>
            </div>
            <div class="english">
                <h3>English <img width="25" height="25" src="../../assets/img/drapeaux/angleterre.png" alt=""></h3>
                <div class="frontendmaster">
                    <p>FrontEndMaster :<a href="https://frontendmasters.com/bootcamp/" target="BLANK_">https://frontendmasters.com/bootcamp/</a></p>
                </div>
            </div>
        </div>
</section>
{%endblock %}