{% extends "../layouts/global.njk" %}

{% block body %}

  {% include "../components/header.njk" %}

  <div class="categories">
        <a href="">
            <div class="card-categorie">
                <i class="fab fa-vuejs"></i>
                <h2 class="red">Front-End</h2>
            </div>
        </a>

        <a href="">
            <div class="card-categorie">
                <i class="far fa-window-restore"></i>
                <h2 class="red">Fullstack</h2>
            </div>
        </a>

        <a href="">
            <div class="card-categorie">
                <i class="fab fa-php"></i>
                <h2 class="red">Backend</h2>
            </div>
        </a>
    </div>
{% endblock %}
