{% set bodyClass = "body" %}

{% extends "../layouts/global.njk" %}

{% block head %}
  <script src="/assets/js/modules/filtre.js" defer></script>
{% endblock %}

{% block body %}

  {% include "../components/header.njk" %}
    <div class="filtre">
        <button type="submit" id="button-filtre" class="cta-red-2">
          Filtre <i class="fas fa-chevron-down arrow"></i>
        </button>
        <ul class="block-filtre" id="ul-filtre">
            <li>
                <a href="?level=0">Facile</a>
            </li>

            <li>
                <a href="?level=1">Moyen</a>
            </li>

            <li>
                <a href="?level=2">Difficile</a>
            </li>
        </ul>
    </div>

    <div class="projet-tp">
        <div class="catogries-projets">
            <h2>Travaux Pratique</h2>
            <div class="projet">
                <div class="icone">
                    <img src="../../assets/img/projets/triangle.svg" alt="">
                </div>
                <div class="text">
                    <h3><a href="">Made</a></h3>
                    <p>Débutant</p>
                </div>
            </div>
            <div class="projet">
                <div class="icone">
                    <img src="../../assets/img/projets/triangle.svg" alt="">
                </div>
                <div class="text">
                    <h3><a href="">Made</a></h3>
                    <p>Débutant</p>
                </div>
            </div>
            <h2>Projets</h2>
            <div class="projet">
                <div class="icone">
                    <img src="../../assets/img/projets/triangle.svg" alt="">
                </div>
                <div class="text">
                    <h3><a href="">Made</a></h3>
                    <p>Débutant</p>
                </div>
            </div>
            <div class="projet">
                <div class="icone">
                    <img src="../../assets/img/projets/triangle.svg" alt="">
                </div>
                <div class="text">
                    <h3><a href="">Made</a></h3>
                    <p>Débutant</p>
                </div>
        </div>
    
    
    
        </div>
        <div class="tableaux">
            <table rules="none">
                <thead>
                    <h2>LES MEILLEURES PROJET DE 2020</h2>
                </thead>
                <tr>
                    <td class="title">Made</td>
                    <td class="link">Crée par Micka</td>
                    <td class="link lien"><a href="">Voir plus</a></td>
                </tr>
    
                <tr>
                    <td class="title">MadeInJapan</td>
                    <td class="link">Crée par Mickael</td>
                    <td class="link lien"><a href="">Voir plus</a></td>
                </tr>
    
                <tr> 
                    <td class="title">Made</td>
                    <td class="link">Crée par Mickassssss</td>
                    <td class="link lien"><a href="">Voir plus</a></td>
                </tr>
    
                <tr>
                    <td class="title">MadeInJapan</td>
                    <td class="link">Crée par Mickael</td>
                    <td class="link lien"><a href="">Voir plus</a></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- </div>
    <div class="pagination">
        <div class="number">
            <a href="" class="number1">1</a>
        </div>

        <div class="number">
            <a href="">2</a>
        </div>

        <div class="number">
            <a href="">3</a>
        </div>
    </div> -->
{% endblock %}
