{% extends "../layouts/global.njk" %}

{% block body %}

  {% include "../components/header.njk" %}

  <h2 class="cat">CATEGORIES</h2>
  <div class="categories">
        {% for category in projectCategories %}
            <div class="card-categorie">
                {# <i class="fab fa-vuejs"></i> #}
                <h2 class="red">{{category.name}}</h2>
                <p>{{ category.description }}</p>
                <a href="/category/{{category.slug}}" class="cta-blue-2">Voir plus</a>
            </div>
        {% endfor %}
  </div>

  <h2 class="cat" style="color: rgb(230, 195, 0)">PREMIUM</h2>
  <div class="categories premium-none">
        {% for category in premiumProjectCategories %}
          <a href="/category/{{category.slug}}" class="premium-none">
            <div class="card-categorie">
                {# <i class="fab fa-vuejs"></i> #}
                <h2 class="red">{{category.name}}</h2>
                <p>{{ category.description }}</p>
                <a class="cta-blue-2 premium-none">Voir plus</a>
            </div>
          </a>
        {% else %}
          <span>Aucune catégorie prémium pour le moment</span>
        {% endfor %}
  </div>
</div>
{% endblock %}
