{% extends "../layouts/global.njk" %}

{% block body %}

  {% include "../components/header.njk" %}

  <div class="categories">
        {% for category in projectCategories %}
          <a href="/category/{{category.slug}}">
            <div class="card-categorie">
                <i class="fab fa-vuejs"></i>
                <h2 class="red">{{category.name}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
