{% set bodyClass = "body" %}

{% extends "../layouts/global.njk" %}

{% block head %}
  <script src="/assets/js/modules/filtre.js" defer></script>
{% endblock %}

{% block body %}

  {% include "../components/header.njk" %}
    <div class="filtre">
        <button type="submit" id="button-filtre" class="cta-red-2">
          Filtre <i class="fas fa-chevron-down arrow"></i>
        </button>
        <ul class="block-filtre" id="ul-filtre">
            <li>
                <a href="?level=0">Facile</a>
            </li>

            <li>
                <a href="?level=1">Moyen</a>
            </li>

            <li>
                <a href="?level=2">Difficile</a>
            </li>
        </ul>
    </div>
    {% for project in projects %}
    <div class="card">
        <div class="img">
            <img src="/assets/upload/project/{{project.picture}}" alt="Project image">
        </div>
        <div class="text">
            <h2>{{project.name}}</h2>
            <h4>Crée par {{project.author.pseudo}}</h4>
            <h3>{{category.name}}</h3>
            <p>
                {{project.description | striptags(true) | escape | nl2br | md}}
            </p>
            <div class="buttons">
                <a href="/project/{{project.id}}" class="cta-red-2"><i class="fas fa-pencil-ruler"></i> Règle</a>
                {#<a href="" class="cta-white-2"><i class="fas fa-eye"></i> Voir le site</a>#}
            </div>
        </div>
    </div>
    {% endfor %}
    {#
    <div class="pagination">
        <div class="number">
            <a href="" class="number1">1</a>
        </div>

        <div class="number">
            <a href="">2</a>
        </div>

        <div class="number">
            <a href="">3</a>
        </div>
    </div>
    #}


{% endblock %}
