{% extends "../layouts/global.njk" %}


{% block body %}
  <main class="body body-upload">
    {% include "../components/header.njk" %}
    <section class="ajout-de-commentaire">
          <h2>Proposer nous de nouvelles fonctionnalités !</h2>
          <!-- Formulaire pour le PHP -->
          {% if success %}
            <p class="succes2" id="msg-succes1">Commentaire envoyer avec succès ! <i class="fas fa-times" id="i-delete1"></i> </p>
          {% endif %}
          <form method="POST" action="">
              <label for="">Message</label>
              <textarea required name="message" id="" cols="30" rows="10"></textarea>
              <button type="submit" class="cta-red">Envoyer</button>
          </form>
      </section>
      <section class="espace-commentaire">
          <h3 class="number-comments">{{comments.length}} Commentaire{{ 's' if comments.length > 1}}</h3>
          {% for comment in comments %}
          <div class="commentaire">
              <div class="img">
                  <img src="../../assets/img/commentaires/user-profil.svg" alt="User profile picture">
              </div>
              <div class="text">
                  <h3>{{comment.author.pseudo}}</h3>
                  <p class="time">Le {{comment.publishedAt}}</p>
                  <p class="content-commentaire">
                      {{comment.message}}
                  </p>
                  {# <div class="buttons"> #}
                      {#<a href="" class="cta-red-2">Répondre</a>#}
                      {# Prochaine Mise à jour #}
                      {# <a href="" class="cta-white-2">Voir le profil</a> #}
                      {# Si un user veut supprimer son message, il a le droit #}

                      {#<a href="" class="delete cta-red">Supprimer</a>#}

                  </div>
              </div>
          </div>
          {% endfor %}
      </section>
    </main>

<script src="../../assets/js/modules/notifs.js"></script>
{% endblock %}
