{% extends "../layouts/global.njk" %}

{% block body %}

  {% include "../components/header.njk" %}

  <div class="politique-de-confidentialite">
        <h2 class="title-politique">Politiques de confidentialité</h2>
        <div class="contents">
            <div class="text">
                <h2>Cookies</h2>
                <p>
                    Si vous avez un compte et que vous vous connectez sur le site, un cookie temporaire sera créé afin de persister votre état de connexion. Ce cookie sera<br>
                    automatiquement détruit lorsque vous vous déconnecté du site.</p>
            </div>

            <div class="text">
                <h2>Transmission de vos données personnelles</h2>
                <p>
                  Les commentaires sont visible par les autres utilisateurs, en dehors de cela vos données ne sont pas partagées avec aucun un tiers.
                </p>
            </div>

            <div class="text">
                <h2>Durées de stockage de vos données</h2>
                <p>
                    Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment.<br>
                    Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.<br><br>

                    Pour les utilisateurs et utilisatrices qui s’enregistrent sur le site, nous stockons également les données personnelles indiquées dans leur profil.<br>
                    Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment.<br>
                    Seul le gestionnaire du site peut aussi voir et modifier ces informations.
                </p>
            </div>

            <div class="text">
                <h2>Les droits que vous avez sur vos données</h2>
                <p>
                    Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander la suppression des données personnelles vous concernant.<br>
                    Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
                </p>
            </div>

            <div class="text">
                <h2>Comment nous protégeons vos données</h2>
                <p>
                  Afin que les données à caractère personnel que nous recueillons ne soient ni perdues, ni divulguées par des tiers non autorisés, nous avons mis en place les<br>
                  mesures nécessaires (pare feu, base de données non accessible à distance...) proportionnellement à la sensibilité des données stockées.
                </p>
            </div>

            <div class="text">
                <h2>Procédures mises en œuvre en cas de fuite de données</h2>
                <p>
                    Conformément à la procédure prévue par le règlement général sur la protection des données en cas de fuite ou d’anomalie concernant les données<br>
                    personnelles en notre possession, et vous avertirons de la nature des données ayant fuitées et la nature du risque qui peut être engendrée si cela peut<br>
                    entamer vos droits et libertés (données sensibles) dans un délai maximal de <strong class="red">72 heures</strong> après constat du problème.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
