{% extends "../layouts/global.njk" %}
{% block body %}
{% include "../components/header.njk" %}

  <form action="" class="container-contact" method="post">
        {{ csrf_input | safe }}
        <h2>Contact</h2>
        {% if success %}
        <p class="succes" id="msg-succes1">Message envoyer avec succès ! <i class="fas fa-times" id="i-delete1"></i> </p>
        {% endif %}
        <label for="" class="pseudo">
            Pseudo
            <input name="pseudo" type="text" required>
        </label>

        <label for="" class="email">
            Adresse email
            <input name="email" type="email" required>
        </label>

        <label for="" class="message">
            Message
            <textarea name="message" id="" cols="30" rows="10" required></textarea>
        </label>
        <button class="cta-red" type="submit">Envoyer</button>
    </form>

<script src="../../assets/js/modules/notifs.js"></script>
{% endblock %}
