{% extends "../layouts/global.njk" %}

{% block body %}
  {% include "../components/header.njk" %}

  <form action="" class="container-contact" method="post">
        {{ csrf_input | safe }}
        <h2>Contact</h2>
        <label for="" class="pseudo">
            Pseudo
            <input name="pseudo" type="text" required>
        </label>

        <label for="" class="email">
            Adresse email
            <input name="email" type="email" required>
        </label>

        <label for="" class="message">
            Message
            <textarea name="message" id="" cols="30" rows="10" required></textarea>
        </label>
        <button class="cta-red" type="submit">Envoyer</button>
    </form>

{% endblock %}
