<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Made - La platforme en ligne de TP pour apprendre le développement Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script src="https://kit.fontawesome.com/bedd7b9608.js" crossorigin="anonymous" defer></script>
    <script src="../../assets/js/modules/header.js" defer></script>
    <script src="../../assets/js/modules/animations.js" defer></script>
    <script src="../../assets/js/modules/filtre.js" defer></script>
</head>
<body>
    <header>
        <nav class="desktop">
            <!-- conteneur -->
            <div class="menu-deroulant" id="menu-deroulant">
                <!-- ul -->
                <ul class="liste-deroulante" id="liste-deroulante">
                    <li>
                        <i class="fab fa-vuejs"></i>
                        <a href="">Front-End</a>
                    </li>
                    <li>
                        <i class="fab fa-php"></i>
                        <a href="">Back-End</a>
                    </li>
                    <li>
                        <i class="far fa-window-restore"></i>
                        <a href="">Fullstack</a>
                    </li>
                </ul>
            </div>
            <ul class="menu-left">
                <li class="menu-logo">
                    <a href="../index.html" class="logo">Made</a>
                </li>
            </ul>
            <ul class="menu-right">
                <li>
                    <a href="#" id="lien-tp" class="red">Traveaux pratiques <i class="fas fa-chevron-down arrow"></i></a>
                </li>
                <li>
                    <a href="../pages/releases.html">Releases</a>
                </li>
                <li>
                    <a href="../pages/upload.html">Upload</a>
                </li>
                <li>
                    <a href="../pages/connexion.html">Connexion</a>
                </li>
                <li>
                    <a href="../view/pages/inscription.html" class="cta-red">Inscription</a>
                </li>
                <li>
                    <i class="fas fa-bars bars" id="bars-bg"></i>
                </li>
            </ul>
        </nav>
        <nav class="mobile" id="block-bg">
            <i class="fas fa-times times croix" id="croix-bg"></i>
            <a href="" class="menu-logo">Made</a>
            <ul>
                <li>
                    <a href="#" id="lien-tp2">Traveaux pratiques <i class="fas fa-chevron-down arrow"></i></a>
                    <div class="liens" id="menu-mobil-deroualant">
                        <a href="#" class="red">Front-End</a>
                        <a href="">Back-End</a>
                        <a href="">Fullstack</a>
                    </div>
                </li>

                <li>
                    <a href="../pages/releases.html">Releases</a>
                </li>

                <li>
                    <a href="../pages/upload.html">Upload</a>
                </li>

                <li>
                    <a href="../pages/confidentilaite.html">Confidentialité</a>
                </li>

                <li>
                    <a href="../pages/connexion.html">Connexion</a>
                </li>

                <li>
                    <a href="../pages/inscription.html">Inscription</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="filtre">
        <button type="submit" id="button-filtre" class="cta-red-2">Filtre <i class="fas fa-chevron-down arrow"></i></button>
        <ul class="block-filtre" id="ul-filtre">
            <li>
                <a href="">Facil</a>
            </li>

            <li>
                <a href="">Moyen</a>
            </li>

            <li>
                <a href="">Difficile</a>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="img">
            <img src="../../assets/img/frontEnd/test.svg" alt="">
        </div>
        <div class="text">
            <h2>Made</h2>
            <h4>Crée par Mickael</h4>
            <h3>Front-End</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit <br>
                Nisl egestas posuere diam massa nulla et turpis quam in<br> 
                Cras etiam habitasse odio vulputate nec accumsan nunc<br>
                Convallis in placerat risus accumsan montes nunc nunc<br>
                Mattis semper diam nulla sed ut nunc nunc nunc nunc<br>
                Convallis in placerat risus accumsan montes. nunc nunc<br>
                Mattis semper diam nulla sed ut nunc nunc nunc nunc.
            </p>
            <div class="buttons">
                <a href="" class="cta-red-2"><i class="fas fa-pencil-ruler"></i> Règle</a>
                <a href="" class="cta-white-2"><i class="fas fa-eye"></i> Voir le site</a>
            </div>
        </div>
    </div>
    <div class="card2">
        <div class="img">
            <img src="../../assets/img/frontEnd/test.svg" alt="">
        </div>
        <div class="text">
            <h2>Made</h2>
            <h4>Crée par Mickael</h4>
            <h3>Front-End</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit <br>
                Nisl egestas posuere diam massa nulla et turpis quam in<br> 
                Cras etiam habitasse odio vulputate nec accumsan nunc<br>
                Convallis in placerat risus accumsan montes nunc nunc<br>
                Mattis semper diam nulla sed ut nunc nunc nunc nunc<br>
                Convallis in placerat risus accumsan montes. nunc nunc<br>
                Mattis semper diam nulla sed ut nunc nunc nunc nunc.
            </p>
            <div class="buttons">
                <a href="" class="cta-red-2"><i class="fas fa-pencil-ruler"></i> Règle</a>
                <a href="" class="cta-white-2"><i class="fas fa-eye"></i> Voir le site</a>
            </div>
        </div>
    </div>
</body>
</html>