{% extends "../layouts/global.njk" %}

{% block head %}

{# <script src="../../assets/js/modules/bars.js" defer></script> #}

{% endblock %}

{% block body %}

  {% include "../components/header.njk" %}

    <section class="infos-made">
        <h2>Apprenez à coder</h2>
        <h1>à travers des <span>TP</span></h1>
        <a href="/categories">Voir les TP<i class="fas fa-chevron-right"></i></a>
    </section>

    <section class="about-made"id="ancre">
        <div class="about">
            <div class="text" >
                <h3>A PROPOS</h3>
                <p>
                    Bonjour ! Made est un site web dédié pour les développeurs à la recherche de projets<br> 
                    pour apprendre le code ! comportent des maquettes et des règles bien précise.<br>
                    C'est futurs projets pourront être posté sur votre github pour attirer vos<br>
                    futurs clients !
                </p>
                <div class="invisible" id="invisible">
                    <p>
                        Toi seul est libre de coder et t'améliorer, alors bon courage et bon code !
                    </p>
                    <ul class="reseaux">
                        <li>
                            <a href=""><i class="fab fa-github"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-discord"></i></a>
                        </li>
                    </ul>
                </div>
                <a href="#ancre" id="voir-plus">Voir plus <i class="fas fa-chevron-down" id="i-voir-plus"></i></a>
            </div>
            <div class="img">
                <img src="../../assets/img/home/img-about.svg" class="thumbnail" alt="">
            </div>
        </div>
    </section>

    <section class="contact-made">
        <div class="contact">
            <div class="img">
                <img src="../../assets/img/home/img-contact.svg" class="thumbnail2" alt="">
            </div>
            <div class="text">
                <h1>Contact</h1>
                <form action="/contact" method="POST">
                    <div class="infos-contact">
                            <input type="text" class="pseudo" required placeholder="Pseudo">
                            <input type="text" class="email" required placeholder="Adresse email">
                    </div>
                    <textarea name="" id="" cols="30" rows="10" required placeholder="Message"></textarea>
                <button type="submit" class="cta-red">Envoyer</button>
                </form>
            </div>
        </div>
    </section>

    {% include "../components/footer.njk" %}

{% endblock %}
