{% extends "../layouts/global.njk" %}

{% block head %}

  <script src="../../assets/js/modules/bars.js" defer></script>

{% endblock %}

{% block body %}

  {% include "../components/header.njk" %}

  <section class="section1">
        <h1 id="text">La première platforme en ligne de TP web</h1>
        <div class="tp">
            <div class="etiquettes" id="etiquettes">
                <div id="bars1">
                    <i class="fas fa-project-diagram"></i>
                    <h3>Besoin de projets concret ?</h3>
                </div>

                <div id="bars2">
                    <i class="fas fa-layer-group"></i>
                    <h3>TP pour tous les niveaux</h3>
                </div>

                <div id="bars3">
                    <i class="fab fa-figma"></i>
                    <h3>Maquettes + site fournis</h3>
                </div>
                <a href="" class="cta-red button" id="button-red">Voir les TP</a>
            </div>
            <div class="img" id="img1">
                <img src="../assets/img/home/projects.svg" alt="">
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="card-about" id="a-propos">
            <div class="text">
                    <h2>A propos</h2>
                    <p class="p1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam in mi<br>
                        faucibus eget dapibus purus aliquam egestas. Tellus sed sed orci amet <br>
                        sodales. Aenean quam nibh justo dictum tincidunt fringilla mollis.<br>
                        Sed arcu, morbi tortor, interdum aenean in ut amet. Libero massa, arcu,<br>
                        laoreet mauris pellentesque fermentum facilisi consequat.
                    </p>
                    <p class="p2" id="p2-savoir-plus">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam in mi<br>
                        faucibus eget dapibus purus aliquam egestas. Tellus sed sed orci amet <br>
                        sodales. Aenean quam nibh justo dictum tincidunt fringilla mollis.<br>
                    </p>
                    <div class="lien-color">
                        <a id="lien-savoir-plus">Voir plus <i class="fas fa-chevron-down"></i></a>
                    </div>

            </div>
            <div class="img">
                <img src="../assets/img/home/profil.svg" alt="">
            </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="support" id="section_support">
            <div class="text">
                <h1>SUPPORT</h1>
                <p>
                    Vous voulez avoir de nouvelles fonctionnalité ?<br>
                    Nous rapporter des bugs ?
                </p>
                <a href="" class="cta-red">Contacter-nous</a>
            </div>
            <div class="img">
                <img src="../assets/img/home/support.svg" alt="">
            </div>
        </div>
    </section>

    {% include "../components/footer.njk" %}

{% endblock %}
