{% extends "../layouts/global.njk" %}

{% block head %}

  <script src="/assets/js/modules/formulaire.js" defer></script>
  <script src="/assets/js/modules/login.js" defer></script>
  <script src="/assets/js/modules/inscription.js" defer></script>

{% endblock %}

{% block body %}

  {% include "../components/auth-header.njk" %}

  <h1 class="title-inscription">Inscription</h1>
    <form action="/inscription" class="formulaire-inscription" id="block-inscription" method="post">
        <div class="pseudo">
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" id="pseudo" required>
             {% if errorCodes['105'] %}
                <p class="error">Le pseudo est déjà utilisé</p>
            {% endif %}
        </div>

        <div class="email">
            <label for="email">Adresse email</label>
            <input type="email" name="email" id="email" required>
            {% if errorCodes['101'] %}
                <p class="error">Email est déjà utilisé</p>
            {% endif %}
        </div>

        <div class="password">
            <label for="mdp">Mot de passe</label>
            <input type="password" name="password" id="mdp" required>
            {% if errorCodes['104'] %}
            <p class="error">Le mot de passe ne correspond pas<br>aux exigences
            (au moins 8 caractères et 1 chiffre)</p>
            {% endif %}
        </div>

        <div class="confirm-password">
            <label for="confirm_mdp">Confirmer le Mot de passe</label>
            <input type="password" name="password_confirm" id="confirm_mdp" required>
            {% if errorCodes['103'] %}
            <p class="error">Le mot de passe est different</p>
            {% endif %}
        </div>
        <button type="submit" id="button_form">S'inscrire</button>
        <a href="/connexion">Connexion</a>
    </form>

{% endblock %}

<body>
