<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Made - Inscription</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script src="https://kit.fontawesome.com/bedd7b9608.js" crossorigin="anonymous" defer></script>
    <script src="../../assets/js/modules/formulaire.js" defer></script>
    <script src="../../assets/js/modules/login.js" defer></script>
    <script src="../../assets/js/modules/inscription.js" defer></script>
</head>
<body>
    <header>
        <nav class="nav-inscription">
            <a href="../index.html">Made</a>
        </nav>
    </header>
    <h1 class="title-inscription">Inscription</h1>
    <form action="/inscription" class="formulaire-inscription" id="block-inscription" method="post">
        <div class="pseudo">
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" id="pseudo" required>
             {% if errorCodes.105 %}
                <p class="error">Le pseudo est déjà utilisé</p>
            {% endif %}
        </div>

        <div class="email">
            <label for="email">Adresse email</label>
            <input type="email" name="email" id="email" required>
            {% if errorCodes.101 %}
                <p class="error">Email est déjà utilisé</p>
            {% endif %}
        </div>

        <div class="password">
            <label for="mdp">Mot de passe</label>
            <input type="password" name="password" id="mdp" required>
            {% if errorCodes.104 %}
            <p class="error">Le mot de passe ne correspond pas<br>aux exigences
            (au moins 8 caractères et 1 chiffre)</p>
            {% endif %}
        </div>

        <div class="confirm-password">
            <label for="confirm_mdp">Confirmer le Mot de passe</label>
            <input type="password" name="password_confirm" id="confirm_mdp" required>
            {% if errorCodes.103 %}
            <p class="error">Le mot de passe est different</p>
            {% endif %}
        </div>
        <button type="submit" id="button_form">S'inscrire</button>
        <a href="../view/pages/connexion.html">Connexion</a>
    </form>
</body>

</html>
