{% extends "../layouts/global.njk" %}
{% block body %}
  {% include "../components/header.njk" %}

  <section class="block-projet">
    <div class="infos-profil">
      <div class="img">
        <img src="/assets/img/commentaires/user-profil.svg" alt="">
      </div>
      <div class="text">
        <h3>{{ project.name }}</h3>
        <p>Créé par {{ project.author.pseudo }}</p>
      </div>
    </div>
    <div class="presentation">
      <h2>PRESENTATION</h2>
      <p>
        {{ project.description | striptags(true) | escape | nl2br }}
      </p>
      {% if project.picture %}
        <img src="/assets/upload/project/{{ project.picture }}" alt="">
      {% endif %}
    </div>
    <div class="regles">
      <h2>REGLES</h2>
      {{ project.rules | striptags(true) | escape | nl2br }}
    </div>
    <div class="liens">
      <h2>LIENS</h2>
      <ul>
        {% if project.designLink %}
          <li>
            <a href="{{project.designLink}}">{{project.designLink}}</a>
          </li>
        {% endif %}
        {% if project.codesandboxLink %}
          <li>
            <a href="{{project.codesandboxLink}}">{{project.codesandboxLink}}</a>
          </li>
        {% endif %}
        {% if project.githubLink %}
          <li>
            <a href="{{project.githubLink}}">{{project.githubLink}}</a>
          </li>
        {% endif %}
        {% if not project.designLink and not project.codesandboxLink and not project.githubLink %}
          <span>AUCUN LIENS</span>
        {% endif %}
      </ul>
      <div class="buttons">
        <a href="" class="cta-red">Voir le profil</a>
        {% if user.isAdmin %}
          <a href="/project/{{ project.id }}/delete" class="cta-red delete">Supprimer</a>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}
