{% extends "../layouts/global.njk" %}
{% block body %}
  {% include "../components/header.njk" %}

  <section class="block-projet">
    <div class="infos-profil">
      <div class="img">
        <img src="/assets/img/commentaires/user-profil.svg" alt="">
      </div>
      <div class="text">
        <h3>{{ project.name }}</h3>
        <p>Crée par {{ project.author.pseudo }}</p>
      </div>
    </div>
    <div class="presentation">
      <h2>PRESENTATION</h2>
      <p>
        {{ project.description | striptags(true) | escape | nl2br }}
      </p>
      <img src="/assets/img/frontEnd/Rectangle 68.png" alt="">
    </div>
    <div class="regles">
      <h2>REGLES</h2>
      {{ project.rules | striptags(true) | escape | nl2br }}
    </div>
    <div class="liens">
      <h2>LIENS</h2>
      <ul>
        {% if project.designLink %}
          <li>
            <a href="">https://www.figma.com/file/u0nvjQbJbSJ7MXKsWmK13W/Made?node-id=0%3A1</a>
          </li>
        {% endif %}
        {% if project.codesandboxLink %}
          <li>
            <a href="">https://codesandbox.io/</a>
          </li>
        {% endif %}
        {% if project.githubLink %}
          <li>
            <a href="">https://github.com/MickaelFerri25</a>
          </li>
        {% endif %}
        {% if not project.designLink and not project.codesandboxLink and not project.githubLink %}
          <span>AUCUN LIENS</span>
        {% endif %}
      </ul>
      <div class="buttons">
        <a href="" class="cta-red">Voir le profil</a>
        <a href="" class="cta-red delete">Supprimer</a>
      </div>
    </div>
  </section>

{% endblock %}
