{% extends "../layouts/global.njk" %}

{% block body %}

  {% include "../components/header.njk" %}


    <div class="block-regles">
        <div class="bio-projet">
            <h2>{{project.name}}</h2>
            <p>
               {{project.description}}
            </p>
            <!-- image qui pose problème -->
            <img src="/assets/upload/project/{{project.picture}}" alt="Project picture">
        </div>
        <div class="profil">
            <div class="img-profil">
                <img src="../../assets/img/commentaires/user-profil.svg" alt="">
            </div>
            <div class="name-profil">
                <h3>Crée par <strong class="red">{{project.author.pseudo}}</strong></h3>
            </div>
        </div>
        <div class="regles">
            <h3>Règles :</h3>
            <p>{{project.rules}}</p>
        </div>
        {% if project.designLink %}
        <div class="maquette">
            <h3>Maquette</h3>
            <a href="{{project.designLink}}">{{project.designLink}}</a>
        </div>
        {% endif %}
        <div class="exit">
            <a href="">Retour</a>
        </div>
    </div>


{% endblock %}
