{% extends "../layouts/global.njk" %}

{% block body %}
  <main class="body">
  {% include "../components/header.njk" %}

    <div class="releases">
      <h2>RELEASES 1 (bêta)</h2>
      <h3 class="text-releases">Nouvelles fonctionnalités ajoutées !</h3>
      <ul class="block-fonctionnalites">
          <li>
              <p>Vous pouvez enfin vous déconnectez !</p>
          </li>

          <li>
              <p>Vous pouvez créé vos propres projets</p>
          </li>

           <li>
              <p class="m3">Ajout des notifications à la création de messages.</p>
          </li>
      </ul>
      <h3 class="text-releases">Améliorations</h3>
      <ul class="block-bug">
          <li>
              <p>Réglages de bugs responsive mineur</p>
          </li>

          <li>
              <p>Amélioration de l'UX de la page d'accueil</p>
          </li>

          <li>
              <p class="m3">Ajouts de liens pour les réseaux</p>
          </li>
      </ul>
    </div> 
  </main>

{% endblock %}
