{% extends "../layouts/global.njk" %}

{% block body %}
  <main class="body">
  {% include "../components/header.njk" %}

    <div class="releases">
      <h2>RELEASES 1.1.0</h2>
      <h3 class="text-releases">Nouvelles fonctionnalités ajouté !</h3>
      <ul class="block-fonctionnalites">
          <li>
              <p>Possibilité d'upload des projets</p>
          </li>

          <li>
              <p>Création d'un espace membres + pannel admin</p>
          </li>
      </ul>
      <h3 class="text-releases">Correction de bugs mineurs</h3>
      <ul class="block-bug">
          <li>
              <p>Possibilité d'upload des projets</p>
          </li>

          <li>
              <p>Création d'un espace membres + pannel admin</p>
          </li>
      </ul>
    </div>

  </main>

{% endblock %}
