{% extends "../layouts/global.njk" %}

{% block body %}

  <div class="regle">
    <form class="block-regle" method="POST" action="">
    {{ csrf_input | safe }}
    <h3>ETAPE 2</h3>
    <div class="bg">
      <label for="">
        Règles
        <textarea name="rules" id="" cols="30" rows="10" placeholder="Structure :
         1 - Définisser les règles
         2 - Définisser les langages"></textarea>
      </label>
      <div class="envoie">
        <button type="submit" class="cta-red">Continuer</button>
        <a href="google.com"><i class="fas fa-sign-in-alt"></i> Retour</a>
      </div>
    </div>
    </form>
  </div>
{% endblock %}
