<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Made - La plateforme en ligne de TP pour apprendre le développement Web</title>
  <link rel="shortcut icon" href="/assets/img/logomade.jpg" type="image/x-icon">
  <script src="https://kit.fontawesome.com/bedd7b9608.js" crossorigin="anonymous" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/app.css">
</head>
<body>
  <div class="regle">
    <form class="block-regle">
    {{ csrf_input | safe }}
    <h3>ETAPE 2</h3>
    <div class="bg">
      <label for="">
        Règles
        <textarea name="" id="" cols="30" rows="10" placeholder="Structure :
         1 - Définisser les règles
         2 - Définisser les langages"></textarea>
      </label>
      <div class="envoie">
        <button type="submit" class="cta-red">Continuer</button>
        <a href="google.com"><i class="fas fa-sign-in-alt"></i> Retour</a>
      </div>
    </div>
    </form>
  </div>
</body>
</html>
