{% extends "../layouts/global.njk" %}

{% block body %}
  {% include "../components/header.njk" %}

      <form action="" class="form-upload2" method="post">
       <h3>Étape 2</h3>
       <label for="">Règles</label>
       <textarea required name="rules" id="" cols="30" rows="10" placeholder="Vos règles doivent suivre ce schéma :&#10;1 - Vos règle&#10;2 - Langages utilisé&#10;3 - Deadline (non obligé)"></textarea>
       <button type="submit" class="cta-red">Crée le projet</button>
    </form>


{% endblock %}
