{% extends "../layouts/global.njk" %}

{% block body %}
{% include "../components/header.njk" %}

<form action="POST" class="form-upload">
    <div class="line">
        <div class="name-project">
            <label for="">
                Nom du projet
                <input type="text">
            </label>
        </div>
        <div class="flex">
            <div class="level">
                <label for="">
                    Niveaux  
                <select name="" id="">
                    <option value="">Débutant</option>
                    <option value="">Intermédiaire</option>
                    <option value="">Avancé</option>
                </select>
                </label>
            </div>
    
            <div class="categories-projects">
                <label for="">
                    Catégories
                    <select name="" id="">
                        <option value="">Front-end</option>
                        <option value="">Back-end</option>
                        <option value="">Fullstack</option>
                    </select>
                </label>
            </div>
            <div class="liste-tp-projects">
                <label for="">
                    Types
                    <select name="" id="">
                        <option value="">Travaux pratique</option>
                        <option value="">Projets</option>
                    </select>
                </label>
            </div>
            </div>
        </div>
    </div>
    <div class="link-figma">
        <label for="">
            Lien Figma *
            <input type="text">
        </label>
    </div>

    <div class="link-codesandbox">
        <label for="">
            Lien CodeSandBox *
            <input type="text">
        </label>
    </div>

    <div class="link-github">
        <label for="">
            Lien Github *
            <input type="text">
        </label>
    </div>

    <div class="bio-project">
        <label for="">
            Bio
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </label>
    </div>

    <div class="img-project">
        <label for="">
            Image
            <input type="file" name="" id="">
        </label>
    </div>
    <div class="envoie">
        <button type="submit" class="cta-red">Continuer</button>
        <a href="/"><i class="fas fa-sign-in-alt"></i> Retour</a>
    </div>
</form>
{% endblock %}
